{% extends "base.html" %}

{% block title %}Crear Denuncia{% endblock %}

{% block h1 %}Adopción Responsable de Mascotas{% endblock %}

{% block main %}

    {% load static %}

    <main id="mainRegistrate">

        <h2 class="titulo">Crear Denuncia</h2>

        <form id="crearDenuncia" method="post" enctype="multipart/form-data">
        	<p><b>Usuario denunciante:</b> {{ user.username }}</p>
        	<p><b>Usuario denunciado:</b> {{ usuario.username }}</p>
            {% csrf_token %}
            {{ form }}

            <input type="submit" value="Denunciar">
        </form>
        <a href="{% url 'ver_usuario_externo' usuario.id %}">Volver</a>
    </main>

{% endblock %}
