<!DOCTYPE html>
<html lang="es">

    {% load static %}

    <head>

        <meta charset="UTF-8">
        <meta name="description" content="Adopción responsable de mascotas">
        <meta name="robots" content="index,follow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

    </head>
    <body>

        <header>
            <a href="{% url 'home' %}">
                <div>
                    <img id="logoMenu" src="{% static 'media/logo_menu_trans.png' %}" alt="logo">
                    <h1 class="titulo">Adopción Responsable de Mascotas</h1>
                </div>
            </a>

        </header>

        {% block main %}{% endblock %}

        <footer id="pieDePag">
            <p>2021.COMUNIDAD DE ADOPCIÓN RESPONSABLE DE MASCOTAS. TODOS LOS DERECHOS RESERVADOS ©</p>
            <P>Produced by Grupo 5 - Informatorio Chaco</P>
        </footer>

    </body>
</html>
