{% extends "base.html" %}

{% block title %}{% endblock %}

{% block main %}

    {% load static %}

    <main id="perfilUsuarioPropio">
        {% block titulo %}{% endblock %}

        {% block mainMenu %}

        {% endblock %}

            <div id="asideOpcionesUser">
                    <ul>
                        <li><a href="{% url 'ver_mis_publicaciones' %}">> Mis Publicaciones</a></li>
                        <li><a href="{% url 'crear_publicacion' %}">> Crear una nueva publicación</a></li>
                        <li><a href="">> Publicaciones guardadas</a></li>
                        <li><a href="">> Tus postulaciones</a></li>
                        <li><a href="{% url 'editar_perfil' user.id %}">> Editar Perfil</a></li>
                    </ul>
                </div>

            <a href="{% url 'ver_perfil' %}"> Volver </a>
    </main>

{% endblock %}
