{% extends "base.html" %}

{% block title %}Calificar Dueño{% endblock %}

{% block main %}

    {% load static %}

    <main>

        <div id="postulantes">

            <h2 class="titulo">Calificar Dueño</h2>

            <p>Usted calificará a: {{ publicacion.usuario_futuro_duenio.username }}</p>

            <form action="{% url 'calificar_usuario' %}" method="get">

                <p>Califica:</p>
                <input type="number" name="calificacion" min="1" max="10">

                <p>Agrege un breve comentario:</p>
                <textarea name="comentario"></textarea>

                <input type="hidden" name="id_publicacion" value="{{ publicacion.id_publicacion }}">

                <input type="submit" value="Calificar">

            </form>

        </div>

    </main>

{% endblock %}
