{% extends "base.html" %}

{% block title %}Perfil{% endblock %}

{% block main %}

    {% load static %}

    <main id="perfilUsuarioPropio">
        <h2 class="titulo">Perfil</h2>

        <div id="infoUser">

            <div id="iconUsuarioContainer"> <img id="iconUserImg" src="{% static 'img/iconUsuario.png' %}" alt="iconUsuario"></div>

            <p><b>Usuario:</b> {{ usuario.username }}</p>
            <p><b>Email:</b> {{ usuario.email }}</p>
            <p><b>Nombre:</b> {{ usuario.first_name }}</p>
            <p><b>Apellido:</b> {{ usuario.last_name }}</p>
            <p><b>Provincia:</b> {{ usuario.provincia }}</p>
            <p><b>Ciudad:</b> {{ usuario.ciudad }}</p>

            <p><b>Calificación:</b>
                {% if usuario.promedio_calificacion != None %}
                    {{ usuario.promedio_calificacion }}
                {% else %}
                    -
                {% endif %}
            </p>

            <p><b>N° de Calificaciones:</b> {{ n_calificaciones }}</p>

            <p><b>Descripción:</b>
                {% if usuario.descripcion_propia != None %}
                    {{ usuario.descripcion_propia }}
                {% else %}
                    Sin especificar
                {% endif %}
            </p>
        </div>

    </main>

{% endblock %}
