*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

/*clases de uso genérico*/
.margin-top-075em {
    margin-top:0.75em;
}

.alinear_centro {
    text-align: center;
}

/*clase para invisibilizar elementos*/
.invisible {
    display:none;
}


/*botones*/
.boton {
    width: 8em;
    height: 2.3em;
    border-radius: 3%;
    background-color: #283618;
    color: white;
    font-family:'Open Sans', sans-serif;
    font-size: medium;
    letter-spacing: 1px;
    padding-left: 2px;
}




.boton:hover {
    background-color:#BC6C25 ;
}

.img {
  max-width: 10%;
  height: auto;
}


/*tipografias*/
.epigrafe{
    font-family: 'Open Sans', sans-serif;
    font-size: 3px;
}

.titulo {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Satisfy', cursive;
    letter-spacing: 2px;
    color: #283618;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.subtitulo {
    text-align: center;
    font-weight: bold;
    font-size: 1.75em;
    font-family: 'Satisfy', cursive;
    letter-spacing: 2px;
    color: #283618;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.negrita {
    font-weight: bold;
}

/*título del header*/

header div {
    display: inline-flex;
}
header a {
    text-decoration: none;
}


/*menu de navegacion*/
.menuNav{
    position: absolute;
    right: 0px;
     
}
header{
    padding-left: 1em;
    padding-right:1em ;
    width: 100%;
    height: 7em;
    position:fixed;
    display:flex;
    align-items: center;
    background-color: #FEFAE0;
    border-bottom: solid black 1px;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#logoMenu {
    width: 10vh;
}

.menuNav ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.menuNav ul li{
    list-style: none;
    font-size: 1.10em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-right: black solid 1px;
    padding: 8px;
}

.menuNav ul li a {
    color: #DDA15E;
    text-decoration: none;
}

.menuNav ul li a:hover {
color: #BC6C25;
font-weight: 400;
text-decoration: underline;
}


/*Main*/

main {
    display: flex;
    flex-direction: column;
    padding-top: 7em;
    padding-left: 1em;
    padding-right:1em ;
    padding-bottom: 7em;
    min-height: calc(100vh - 88px);
    background-color: #F0EFEB;
}

main p {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    letter-spacing: 1px;
}

main section {
    margin-bottom:3vh ;
}

/*Home*/

.carousel-inner img {
    width: 100%;
    height: 50em;
    object-fit: cover;
}

.carousel {
    margin-top: 1em;
}

#seccionHome {
    text-align: center;
}


#formarParte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botonRegistro {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    letter-spacing: 1px;
    text-decoration: none;
    color: #FEFAE0;
    text-align: center;

}

#enlace {
    margin-top: 8px;
    background-color:#283618;
    width: 45vh;
    padding-left: 6vh;
}


#enlace:hover {
    background-color: #BC6C25;
}

/*registrate*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    letter-spacing: 1px;
    padding-top: 2vh;
}

#mainRegistrate {
    text-align: center;
}


/*Entrar*/

.links {
    padding-top: 1em;
    text-align: center;
    list-style: none;

}

.links a {
    color: #DDA15E;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    letter-spacing: 1px;
}

.links :hover{
    text-decoration: underline;
    color: #BC6C25;
    font-weight: bold;
}

/*Perfil Usuario Propio*/

#perfilUsuarioPropio {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto;
}

#tituloPerfil {
    grid-column: 1/3;
    grid-row: 1/2;
}

#infoUser {
    margin-top: 0.25em;
    background-color: #B7B7A4;
    justify-self: center;
    text-align: center;
}


#iconUsuarioContainer{
    width: 15%;
    margin:0 auto;
}

#iconUserImg {
    width: 100%;
}

#asideOpcionesUser ul {
    padding: 0;
}

#asideOpcionesUser{
    grid-row: 2/3;
    grid-column: 2/3;
}

#publicaciones {
    grid-column: 1/2;
    grid-row: 2/3;
}

main ul li {
    list-style: none;
}


/*perfil usuario externo*/
#perfilUsuarioExterno{
    display: flex;
    justify-items: center;
}

main a{
    text-decoration: none;
    color: #DDA15E;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    letter-spacing: 1px;
}

main a:hover {
    text-decoration: underline;
    color: #BC6C25;
    font-weight: bold;
}

/*denuncias*/

#detalle {
    padding-top: 8px ;
    padding-bottom: 8px;
}

#botonDenunciar {
    background-color: #283618;
    color: white;
    font-family:'Open Sans', sans-serif;
    font-size: medium;
    letter-spacing: 1px;
}

#botonDenunciar:hover {
    background-color: #BC6C25;
}

#contenedorBotonDenunciar {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-top: 2px ;
    margin:0 auto ;
}

/*Crear publicaciones*/
.boton__crearPublicacion {
    width: 8em;
    height: 2.3em;
    border-radius: 3%;
    background-color: #283618;
    color: white;
    font-family:'Open Sans', sans-serif;
    font-size: medium;
    letter-spacing: 1px;
    margin-top: 1em;
    padding-left: 2px;
}

.boton__crearPublicacion:hover {
    background-color:#BC6C25 ;
}

/*Ver_Publicaciones_A*/
.fotoPublicacion {
    width: 100%;
    height: 420px;
    object-fit: cover;
    grid-column: 1/2;
    grid-row: 1/2;
}

#publicacion {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 0.2fr;
    grid-auto-rows:0;
    margin-top: 1em;
    height: 475px;
    border: #BC6C25 2px solid;
    background-color: #FFD7BA;
}


#infoPublicacion_parte1 {
    background-color: #B7B7A4;
    border-left: #283618 1.2px solid;
    border-bottom:  #283618 1.2px solid;;
}


#infoPublicacion {
    background-color: white;
    border-left:#BC6C25 1px solid ;
    grid-column: 2/3;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
}

#verMascotas {
    grid-column: 1/2;
    grid-row: 2/3;
}

#estadoPublicacion {
    display: none;
}


#publicacion p{
    font-weight: bold;
    color: black;
    font-size: 1em;
}

/*Tus_publicaciones*/

#botones {
    display: inline-flex;
    align-items:center;
    justify-content: center;
}


/*pie de pagina*/
footer {
    width: 100%;
    height: 88px;
}

#pieDePag {
    background-color: #B7B7A4;
    color: white;
    text-align: center;
}
