<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enviar correo</title>
</head>
<body>
        <header>
            <h1>
                Bienvenidos al sitio de adopcion responsable!!
            </h1>
            <h2>Aqui podras contactarte con la persona a la cual te intereso su publicacion. </h2>
        </header>
    <form method="POST">{% csrf_token %}
        <label>Asunto</label>
        <input type="text" name="asunto"><br><br>
        <label>Correo</label>
        <input type="text" name="correo"><br><br>
        <label>Mensaje</label>
        <textarea name="Mensaje" id="" cols="30" rows="10"></textarea><br><br>
        <button type="submit">Enviar</button>
    </form>   
</body>
</html>