{% extends "base.html" %}

{% block title %}Confirmación de Eliminación{% endblock %}

{% block main %}

    {% load static %}

    <main>

        <div id="publicaciones">
            <h2 class="titulo">Confirmación de Eliminación</h2>

            <p class="alinear_centro negrita">¿Estas seguro de que deseas eliminar esta publicación?</p>

            <form action="{% url 'eliminar_publicacion' publicacion.id_publicacion %}" method="get">
                <input type="submit" value="Eliminar">
            </form>

            <div id="publicacion">
                <div id="infoPublicacion">
                <ul>
                    <li>
                    <ul id="infoPublicacion_parte1">
                        <li>
                        <p class="epigrafe">Usuario: {{ publicacion.usuario_creador }}</p>
                        </li>
                        <li>
                        <p class="epigrafe">Especie: {{ publicacion.especie }}</p>
                        </li>
                        <li>
                        <p class="epigrafe">Fecha: {{ publicacion.fecha }}</p>
                        </li>
                        <li>
                        <p id="estadoPublicacion">Estado: {{ publicacion.estado }}</p>
                        </li>
                    </ul>
                    </li>

                    <li>
                        <p>Descripción: {{ publicacion.descripcion }}</p>
                    </li>
                </ul>
                </div>
                    
                <img class="fotoPublicacion" src="{{ MEDIA_URL }}{{ publicacion.foto.url }}">

            </div>

        </div>
        <a href="{% url 'ver_mis_publicaciones' %}"> Volver </a>
    </main>

{% endblock %}
