{% extends "base.html" %}

{% block title %}Confirmación de Eliminación{% endblock %}

{% block main %}

    {% load static %}

    <main>

        <div id="publicaciones">
            <h2 class="titulo">Confirmación de Eliminación</h2>

            <p>¿Estas seguro que deseas eliminar esta publicación?</p>

            <form action="{% url 'eliminar_publicacion' publicacion.id_publicacion %}" method="get">
                <input type="submit" value="Eliminar">
            </form>

            <div id="publicacion">

                <ul>
                    <li><p>Usuario: {{ publicacion.usuario_creador }}</p></li>
                    <li><p>Especie: {{ publicacion.especie }}</p></li>
                    <li><p>Foto: <img src="{{ MEDIA_URL }}{{ publicacion.foto.url }}"></p></li>
                    <li><p>Descripción: {{ publicacion.descripcion }}</p></li>
                    <li><p>Fecha: {{ publicacion.fecha }}</p></li>
                    <li><p>Estado: {{ publicacion.estado }}</p></li>
                </ul>

            </div>

        </div>
        <a href="{% url 'ver_mis_publicaciones' %}"> Volver </a>
    </main>

{% endblock %}
