{% extends "base.html" %}

{% block title %}Confirmar Postulación{% endblock %}

{% block main %}

    {% load static %}

    <main>

        <div id="postulantes">

            <h2 class="titulo">Confirmar Postulación</h2>

            <h3>Usuarios postulados</h3>

            {% for postulante in postulantes %}

                <ul>
                    <li><p>Usuario: <a href="{% url 'ver_usuario_externo' user.id %}">{{ publicacion.usuario_creador }}</a></p></li>
                </ul>

            {% endfor %}

            {% if not user.id in postulantes %}

                <form action="{% url 'postularse' publicacion.id_publicacion%}" method='get'>
                    
                    <button type='submit' name='publicacion_id' value='{{publicacion.id_publicacion}}'>Postularse</button>

                </form>

            {% endif %}

        </div>

    </main>

{% endblock %}
