{% extends "base.html" %}

{% block title %}Publicaciones{% endblock %}

{% block main %}

    {% load static %}

    <main>

        <div id="publicaciones">
            <h2 class="titulo">Publicaciones</h2>

            <div>
                <form action="{% url 'ver_publicaciones' %}" method="get">

                    <div>
                        <input type="radio" name="especie" value="perro">
                        <label for="perro">Perro</label>
                        <input type="radio" name="especie" value="gato">
                        <label for="gato">Gato</label>
                    </div>

                    <div>
                        <input type="radio" name="sexo" value="macho">
                        <label for="macho">Macho</label>
                        <input type="radio" name="sexo" value="hembra">
                        <label for="hembra">Hembra</label>
                    </div>

                    <input type="submit" value="Buscar">

                </form>
            </div>

            {% for publicacion in publicaciones %}

                <div id="publicacion">

                    <ul>
                        <li><p>Foto:</p> <img src="{{ MEDIA_URL }}{{ publicacion.foto.url }}"></li>
                        <li><p>Usuario: <a href="{% url 'ver_usuario_externo' user.id %}">{{ publicacion.usuario_creador }}</a></p></li>
                        <li><p>Especie: {{ publicacion.especie }}</p></li>
                        <li><p>Sexo: {{ publicacion.sexo }}</p></li>
                        <li><p>Descripción: {{ publicacion.descripcion }}</p></li>
                        <li><p>Fecha de Creación: {{ publicacion.fecha }}</p></li>
                        <li>
                            <p>
                                Estado:
                                {% if publicacion.estado %}
                                    Abierto
                                {% else %}
                                    Cerrado
                                {% endif %}
                            </p>
                        </li>
                    </ul>

                </div>

            {% endfor %}

        </div>

    </main>

{% endblock %}
