{% extends "base.html" %}

{% block title %}Publicaciones{% endblock %}

{% block main %}

    {% load static %}

    <main>

        <div id="publicaciones">
            <h2 class="titulo">Publicaciones</h2>

            <div>
                <form action="{% url 'busqueda_filtrada_especie' %}" method="get">

                    <input type="radio" name="especie" value="perro">
                    <label for="perro">Perro</label>
                    <input type="radio" name="especie" value="gato">
                    <label for="gato">Gato</label>

                    <input type="submit" value="Buscar">

                </form>
            </div>

            {% for publicacion in publicaciones %}

                <div id="publicacion">

                    <ul>
                        <li> 
                            <p>Usuario:</p> 
                            <form action="{% url 'ver_usuario_externo' %}" method="get">
                                <input type="hidden" name="usuario_creador" value=" usuario_creador ">
                                <a href="{% url 'ver_usuario_externo' %}">{{ publicacion.usuario_creador }}</a>
                            </form>
                        </li>
                        <li> <p>Especie:</p> {{ publicacion.especie }}</li>
                        <li> <p>Foto:</p> <img src="{{ MEDIA_URL }}{{ publicacion.foto.url }}"></li>
                        <li> <p>Descripción:</p> {{ publicacion.descripcion }}</li>
                        <li> <p>Fecha:</p> {{ publicacion.fecha }}</li>
                        <li> <p>Estado:</p> {{ publicacion.estado }}</li>
                    </ul>

                    <form action="{% url 'ver_mascotas' %}" method="get">
                        <button type="submit" name="publicacion" value="{{ publicacion }}">Ver Mascotas</button>
                    </form>

                </div>

            {% endfor %}

        </div>

    </main>

{% endblock %}
