{% extends "base.html" %}

{% block title %}Mis Publicaciones{% endblock %}

{% block main %}

    {% load static %}

    <main>

        <div id="publicaciones">
            <h2 class="titulo">Mis Publicaciones</h2>

            {% for publicacion in publicaciones %}

                <div id="publicacion">

                    <ul>
                        <li><p>Usuario: {{ publicacion.usuario_creador }}</p></li>
                        <li><p>Especie: {{ publicacion.especie }}</p></li>
                        <li><p>Foto: <img src="{{ MEDIA_URL }}{{ publicacion.foto.url }}"></p></li>
                        <li><p>Descripción: {{ publicacion.descripcion }}</p></li>
                        <li><p>Fecha: {{ publicacion.fecha }}</p></li>
                        <li><p><li> <p>Estado:
                            {% if publicacion.estado %} 
                                Abierto
                            {% else %}
                                Cerrado
                            {% endif %}
                            </p>
                    </ul>
                    <form action="{% url 'editar_publicacion' publicacion.id_publicacion %}" method='get'>
                        <button type='submit' name='id_publicacion' value='{{publicacion.id_publicacion}}'>Editar</button>
                    </form>
                    <form action="{% url 'confirmar_eliminacion' %}" method="get">
                        <button type="submit" name="publicacion" value="{{ publicacion }}">Eliminar</button>
                    </form>

                </div>

            {% endfor %}

        </div>

    </main>

{% endblock %}
