{% extends "base.html" %}

{% block title %}Publicaciones{% endblock %}

{% block main %}

    {% load static %}

    <main>

        <div id="publicaciones">
            <h2 class="titulo">Publicaciones</h2>

            <div>
                <form action="{% url 'ver_publicaciones' %}" method="get">

                    <div>
                        <input type="radio" name="especie" value="perro">
                        <label for="perro">Perro</label>
                        <input type="radio" name="especie" value="gato">
                        <label for="gato">Gato</label>
                    </div>

                    <div>
                        <input type="radio" name="sexo" value="macho">
                        <label for="macho">Macho</label>
                        <input type="radio" name="sexo" value="hembra">
                        <label for="hembra">Hembra</label>
                    </div>

                    <input type="submit" value="Buscar">

                </form>
            </div>

            {% for publicacion in publicaciones %}

                <div id="publicacion">
                    <div id="infoPublicacion">
                        <img class="fotoPublicacion" src="{{ MEDIA_URL }}{{ publicacion.foto.url }}">
                    <ul>
                        <li>
                        <ul id="infoPublicacion_parte1">
                            <li>
                            <p class="epigrafe">Usuario: <a href="{% url 'ver_usuario_externo' publicacion.usuario_creador.id %}">{{ publicacion.usuario_creador }}</a></p>
                            </li>
                            <li>
                            <p class="epigrafe">Especie: {{ publicacion.especie }}</p></li>
                            <li>
                            <p class="epigrafe">Fecha de Creación: {{ publicacion.fecha }}</p></li>
                            <li>
                            <p class="epigrafe">Edad: {{ publicacion.edad }}</p></li>
                            <li>
                            <p class="epigrafe">Sexo: {{ publicacion.sexo }}</p></li>
                            <li>
                            <p id="estadoPublicacion">
                                Estado:
                                {% if publicacion.estado %}
                                    Abierto
                                {% else %}
                                    Cerrado
                                {% endif %}
                            </p>
                            </li>
                        </ul>
                        </li>
                        <li>
                            <p>Descripción: {{ publicacion.descripcion }}</p>
                        </li>
                        <li>
                        {% if publicacion.estado %}
                            <p> <a href="{% url 'ver_postulantes' publicacion.id_publicacion %}">VER POSTULANTES</a> </p>
                        {% endif %}
                        </li>        
                    </ul>
                    </div>

                </div>

            {% endfor %}

        </div>

    </main>

{% endblock %}
