{% extends "base.html" %}

{% block title %}Ingresar{% endblock %}

{% block h1 %}Adopción Responsable de Mascotas{% endblock %}

{% block main %}

    {% load static %}

    <main>

        <h2 class="titulo">Ingresar</h2>

        <form action="" method="post">

            {% csrf_token %}
            {{ form }}

            <input type="submit" value="ingresar">

        </form>

        <ul class="links">

            <li><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></li>
            <li><a href="{% url 'registrate' %}">Crear una cuenta nueva</a></li>

        </ul>

    </main>

{% endblock %}
