{% extends "base_password.html" %}

{% block title %}Reestablecer contraseña{% endblock %}

{% block h1 %}Adopción Responsable de Mascotas{% endblock %}

{% block main %}

    {% load static %}

    <main id="mainRegistrate">

        <h2 class="titulo">Recuperar contraseña</h2>

		<p> Te hemos enviado un correo con un enlace para reestablecer tu contraseña. Por favor verifica la casilla de Spam en el caso de no ver el correo en la casilla de Recibidos </p>
        
    </main>

{% endblock %}









	

